<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(255, 240, 253);
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1> About Page : Success after submit POST </h1>
    <p> Name : <%= data.nama %></p>
    <p> He is <b> <%= data.job %> </b> </p>
    <p> Contact : <%= data.email %></p>

 
 
 

 
 

 
    





</body>
</html>